*{
    color: black;
    text-align: center;
    font-size: 24px;

}
.a1 {
    background-color: red;    
}
.a2:active {
    background-color: blue;    
}
.a3:hover {
    background-color: purple;    
}
.a4:focus {
    background-color: green;    
}
.a5:visited {
    background-color: yellow;    
}